
.dropdown-menu{
    background-color: rgb(0, 0, 0);
}
.dropdown-item{
    color: cornsilk;
}
.dropdown-toggle{
    background-color: rgb(0, 0, 0);
}
a{
    color: cornsilk;
}

.mainrowd{
    background-color: rgb(78, 230, 172);
    height:100px;
    
}
.div1{
    background-color:  rgb(0, 0, 0);
}
.div3{
    background-color: rgb(0, 0, 0);
}
.div2{
    background-color: rgb(0, 0, 0);
    vertical-align:middle;
    display:inline-block;
   
}
.child{
    margin-top: 08%;
    text-align: center;
    display: inline-block;
    justify-content: center;
    vertical-align:middle;
}
.midchild{
    margin-left: 25%;
}
.linkchild{
    margin-bottom: 04%;
}
.logoImage{
    margin-left: 05%;
}

