/* body{
    background: url(./bbk.jpg) no-repeat center center fixed;
    background-size: cover;
} */
body{
    background-color: rgb(173, 156, 156);
    padding: 0px;
    margin:0px;
}
.videoTag{
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }